.downloadContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 25px auto;
  padding: 1%;
  border-radius: 4px;
  border: 1px solid rgb(255, 212, 197);
  box-shadow: rgb(251, 151, 115) 0px 0px 4px;
  background-color: rgb(255, 212, 197);
  width: fit-content;
}
.downloadContainer Button {
  cursor: pointer;
  background-color: #fe6912;
}
